.github/ @nvidia-nemo/automation
codecov.yml @nvidia-nemo/automation
docker/ @nvidia-nemo/automation
pyproject.toml @nvidia-nemo/automation

docs @akoumpa @jgerh
nemo_automodel @akoumpa @HuiyingLi @adil-a @hemildesai
examples @akoumpa @HuiyingLi @adil-a @hemildesai
README.md @akoumpa @HuiyingLi @snowmanwwg

nemo_automodel/components/datasets/llm/ @akoumpa @adil-a @ybabakhin @rnyak @oliverholworthy @gabrielspmoreira
nemo_automodel/components/models/biencoder/ @akoumpa @adil-a @ybabakhin @rnyak @oliverholworthy @gabrielspmoreira
examples/biencoder/ @akoumpa @adil-a @ybabakhin @rnyak @oliverholworthy @gabrielspmoreira
