{%- for message in messages -%}
{{- '<|im_start|>' + message['role'] + '\n' -}}
{%- if message['role'] == 'assistant' -%}
{% generation %}{{- message['content'] + eos_token -}}{% endgeneration %}
{%- else -%}
{{- message['content'] + eos_token -}}
{%- endif -%}
{{- '\n' -}}
{%- endfor -%}
{%- if add_generation_prompt -%}
{{- '<|im_start|>assistant\n' -}}
{%- endif -%}
